.table-home{
	margin-left: 200px;

}
.vid{
	padding-top: 100px;
	padding-bottom: 100px;
}
#back-to-top-btn{
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 26px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: rgb(59, 156, 168);
	cursor: pointer;
	outline: none;
	border: 3px solid rgb(59, 156, 168);
	border-radius: 50%;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color,color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus{
background-color: rgb(59, 156, 168);
color:#fff;
}


.text{
	font-weight: bolder;
	color:white;
	position:absolute;
	top:40%;
	left:50%;
	transform:translate(-40%,-50%);
}
.btn{
	font-weight:bolder;
	color:white;
border: 2px solid whitesmoke;
border-radius: 10px;

	

}
.btn:hover , .btn:focus{
	
	background-color: rgb(59, 156, 168);
color: white;

}
.container-img {
	position: relative;
	text-align: center;
	color: white;
  }
  
  .bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
  }
  

form.example input[type=text] {
	border:none;
	color:rgb(59, 156, 168);
	
	}

.sub {
	color: rgb(59, 156, 168);
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	border-top: 1px solid  rgb(59, 156, 168);
}
.main-contact{
	background-image: url("images/contact.jpg");
 
}
.mains{
	float:left;
	width:55%;
	padding:0 30px;
	box-sizing:border-box;
}
.sidebar{
	float:right;
	width:45%;
	padding:0px;
	box-sizing:border-box;
}
	.container{
		width:80%;
		margin:auto;
		overflow:hidden;

}
.heading {
	text-align:center;
	
}
 

 .subhead {
	 text-align:center;

	 
 }
.subheading{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;


}
.middle {
	text-align:center;
	font-family: 'Caveat', cursive;
	font-size:150%;	
}


.subcribeform {
	text-align:center;
}


.header {
	text-align:center;
	background-color:white;	
}


.foot {
	text-align:center;
	background-color:powderblue;	
}


.imgstable{
	 border-spacing:5px;
	 margin-left:auto;
	 margin-right:auto;
}
 .pics{

	 padding:10px;
 }
 .par1{
	 text-align:center;
	 	font-size:150%;
		font-family: 'Caveat', cursive;	 
 }
 
 .par{
	 text-align:center;
 }
 
 .center {
	 display:block;
	 margin-left:auto;
	 margin-right:auto;
	 width: 70%;
 }


  .centerr {
	 display:block;
	 margin-left:auto;
	 margin-right:auto;
	 width: 30%;
 
  }
  .button {
	   background-color:gray;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  
  }
  
  nav{
	  float:center;
	  text-transform:uppercase;
	  cursor:pointer;
	  
  }
 address{
	 
	 text-align:center;
 }
 
 .form{
	 padding:30px;
	 margin:100px;
	 border: 1px solid rgba(240, 240,240,0.9);
	 border-width:20px;
     background-color:rgba(240, 240,240,0.9);
 }

 .form-group{
	 padding:20px;
 }
 .form .form-group{
	 padding-bottom:15px;
 }

 .form label{
	 display:block;

 }

 .form input [type="text"], .form textarea
 {
	 padding:8px;
	 width:100%;
	 height:100%;;
}
 
 
  .contact {
	 display:block;
	 margin-left:auto;
	 margin-right:auto;
	 width: 10%;
  }

  .main{
	  background-color:aliceblue;
  }



  .color-pinterest{
	color:black;
	font-size:100px;
}
.color-instagram{
	color:black;
	font-size: 100px;
}
.color-twitter{
	color:black;
	font-size: 100px;
}
	
.color-facebook{
	color:black;
	font-size: 100px;
}
nav{
	background:white;
	height:100px;
	width:100%;
}

label.logo{
	color:rgb(59, 156, 168);
	font-size:35px;
	line-height:80px;
	padding: 20px 100px;
	font-weight:bold;
	float:left;
	
}
nav ul {
	float:right;
	margin-right:20px;
}
nav ul li {
	display:inline-block;
	line-height:80px;
	margin: 0 5px;
}
nav ul li a {
	color:rgb(59, 156, 168);
	font-weight: bold;
	font-size:19px;
	padding :7px 4px;
	border-radius:3px;
}

a{
	text-decoration: none;
	transition:uppercase;
}

a:hover{
	background:#d7eff0;
	transition:0.5s;
}

.checkbtn{
	font-size:30px;
	color:rgb(59, 156, 168);
	float:right;
	line-height:80px;
	margin-right:40px;
	cursor:pointer;
	display:none;
}
#check{
	display:none;
}
@media(max-width:375px){
	main{
	display : block;
	}
}



@media(max-width:952px){
	label.logo{
		font-size:30px;
		padding-left:50px;
	}
	nav ul li a {
		font-size:16px;
	}
}

@media(max-width:858px){
	.checkbtn{
		display:block;
	}
	ul{
		position:fixed;
		width:100%;
		height:100vh;
		background:powderblue;
		top:80px;
		left:-100%;
		text-align:center;
		transition:all 0.5s;
	}
	nav ul li{
		display:block;
		margin:50px 0;
		line-height:30px;
	}
	nav ul li a{
		font-size:20px;
	}
	a:hover,a.active{
		background:none;
		color:#0082e6;
}
#check:checked ~ ul{
	left:0;
}

.text-wrapper{
	width: 100%;
	position: relative;
	margin-top:-40%;
}


.text-wrapper h1{

	text-align:left;
	font-weight:bold;
	font-family: 'Caveat', cursive;	
	color:white;
	font-size:30px;
	line-height:1.6 em;
	margin-left:50px;
}
.text-wrapper  h4 a {
	text-align: left;
	color:white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 15px;
}

.boxContainer {
margin:auto;
border:2px solid powderblue;
padding:0px 10px;
border-radius: 50px;
}
.elementsContainer{
	width:100%;
	height:100%;

}
.search{
	outline: none;
	border:none;
	height:100%;
	width:100%;
	padding:0px 5px;
	border-radius: 50px;
	font-size:18px;
	color: powderblue;
	font-weight: bold;
}
.search:focus{
	outline: none;
}
.material-icons{
	font-size: 26;
	color: powderblue;
}



}